<template>
  <div class="article" v-if="fox.article">
    <img :src="fox.image" alt="Fox picture" class="article--picture">
    <div v-html="fox.article"></div>
  </div>
  <strong v-else>No foxes found</strong>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import IFox from '@/library/IFox'

export default defineComponent({
  name: 'Article',
  data() {
    return {

    };
  },
  props: {
    fox: Object as () => IFox,
  },
})
</script>

<style scoped>

.article--picture {
  max-height: 50rem;
  max-width: 30rem;
}

</style>