<template>
  <v-container fluid>
    <transition name="fade" mode="out-in">
      <Article :id="foxId"/>
    </transition>
  </v-container>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import Article from '@/components/Article.vue';

export default defineComponent({
  name: 'Catalog',
  components: {
    Article,
  },
  props: {
    id: String,
  },
  data() {
    return {};
  },
  computed: {

  },
});
</script>

<style scoped>

</style>