<template>
  <v-list>
    <v-list-item v-for="link in links" :key="link.id" :to="'/foxes/' + link.id">
      {{ link.name }}
    </v-list-item>
  </v-list>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import IFox from "@/library/IFox"

export default defineComponent({
  name: 'CatalogList',
  data() {
    return {

    };
  },
  props: {
    links: Object as () => IFox[],
  }
})
</script>

<style scoped>

</style>