<template>
  <v-app>
    <v-app-bar app class="bg-deep-orange-darken-2" dark>
      <router-link class="ml-5 text-white" :to="{ name: 'Article', params: { id: 1 } }">Foxes</router-link>
      <router-link class="ml-5 text-white" :to="{ name: 'About' }">About</router-link>
    </v-app-bar>
    <v-main>
      <v-navigation-drawer>
        <CatalogList :links="foxes"/>
      </v-navigation-drawer>
      <v-container fluid>
        <router-view v-slot="{ Component }" :fox="fox">
          <transition name="fade" mode="out-in">
            <component :is="Component" :key="$route.path"/>
          </transition>
        </router-view>
      </v-container>
    </v-main>
  </v-app>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import CatalogList from '@/components/CatalogList.vue';
import api from "@/library/Api";
import IFox from '@/library/IFox';

export default defineComponent({
  name: 'App',
  components: {
    CatalogList,
  },
  created() {
    document.title = 'Fox catalog';
  },
  mounted() {
    api.getFoxes().then(foxes => this.foxes = foxes)
  },
  data() {
    return {
      foxes: new Array<IFox>(),
    }
  },
  computed: {
    fox(): IFox {
      return this.foxes.find(fox => fox.id === this.foxId) ?? { id: 0, name: '', image: '', article: '', }
    },
    foxId(): number {
      const defaultId = 1
      if (typeof this.$route.params.id !== 'string') {
        return defaultId
      }
      const foxId = parseInt(this.$route.params.id, 10)
      if (isNaN(foxId) || foxId < 1) {
        return defaultId
      }
      return foxId
    },
  },
})
</script>

<style>
.fade-enter-active, .fade-leave-active {
  transition: opacity .2s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
</style>